#change-password-page {
    background: white;
    margin: 6px;
    padding: 20px;
    min-height: calc(100% - 12px);
    form {
        legend {
            margin-bottom: 40px;
            border-bottom: 1px solid #eae9e9;
		}
		label {
			font-size: 14px;
		}
        .btn-upload {
            background: #20a8d8;
            font-size: 14px;
            color: white;
		}
		input {
			max-width: 450px;
		}
	}
	.title-page {
		margin-bottom: 40px;
		border-bottom: 1px solid #eae9e9;
		font-size: 18px;
	}
	.message-error {
		font-size: 13px;
		width: 450px;
	}
	.loading-icon {
		height: 20px;
	}
}