#primary-header {
	display: flex;
	height: 55px;
    border-bottom: 1px solid #ddd;
    .logo {
        width: 90px;
        margin-left: 20px;
        cursor: pointer;
    }
    .menu-right {
        position: absolute;
        right: 20px;
        top: 9px;
        img {
            height: 36px;
            width: 36px;
            border-radius: 50%;
        }
        .username {
            margin-left: 6px;
            font-size: 14px;
        }
    }
}